<div class=WordSection1>

<p class=MsoNormal style='mso-margin-top-alt:auto'><span style='font-family:
"Arial","sans-serif"'>({counter})&nbsp;&nbsp;&nbsp; <b>{appeal_no}</b></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto'><b><span style='font-family:
"Arial","sans-serif"'>&nbsp;</span></b></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:5.4pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=708 valign=top style='width:531.0pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'>{appeal_description}</p>
  </td>
 </tr>
</table>
<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'><span
style='font-family:"Arial","sans-serif"'>ACTION: {action}</span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'><span
style='font-family:"Arial","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'><span
style='font-family:"Arial","sans-serif"'>SPEAKERS: {speakers}</span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'><span
style='font-family:"Arial","sans-serif"'>&nbsp;</span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify'><span
style='font-family:"Arial","sans-serif"'>PUBLIC COMMENT: {public_comment}</span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto'>&nbsp;&nbsp;</p>

<p class=MsoNormal style='mso-margin-top-alt:auto;text-align:justify;
line-height:150%'>&nbsp;</p>

